# =========================
# HEMTT
# =========================
*.biprivatekey
*.hemttprivatekey
*.pbo
.hemttout
hemtt
hemtt.exe

# =========================
# Documentation / Wiki / Text
# =========================
*.md
*.txt
**/*.json
!README*.md
!wiki/*
!wiki/**/*.md
!.github/PULL_REQUEST_TEMPLATE.md
TODO
!releases/CHANGELOG.md
!NOTEPAD.txt
logs/**/*
.codex
!.code-wiki/
!.code-wiki/**
.bak
reference_files
!graphify-out
cache
.graphify_python
.graphify_root
!.graphify_labels.json
!cost.json
!graph.json
!manifest.json

# =========================
# Python
# =========================
__pycache__/

# =========================
# Dependencies / Scripts
# =========================
!.sh
!.bat
!requirements.txt

# =========================
# System / Environment
# =========================
build/.env
!.env.example
*.code-workspace
.vscode/**/*
.env
*.exe
.agents

# =========================
# General / Miscellaneous
# =========================

releases/@root_cyberwarfare

# =========================
# Build artifacts / Logs
# =========================
*.log
*.rpt
